<div class="form-container">
  <form ngNativeValidate [formGroup]="formField"> 
      <h2>Encontrar permissões mais altas do usuário</h2>
      <div>
        <mat-form-field  class="form-style">
          <input readonly required id="input-text-src" formControlName="database" class="input-text-src" matInput placeholder="Selecione o arquivo" />
          <input  id="input-text" type="file" style="display: none;" (change)="onFileSelected($event)" />
          <label matSuffix for="input-text">
             <mat-icon  matTooltip="Clique para escolher">cloud_upload</mat-icon>
          </label>
        </mat-form-field>
        
        <button name="button-find" class="btn login"
              (click) ="readDatabase()"> Carregar banco de dados </button> 
      </div>

      <div class="form-group">
          <label for="email"> Insira o email do usuário: </label> 
          <input type="text" formControlName="email"
                 class="form-control" name="email"
                 ng-model="email" />  

          <button name="button-find" class="btn login"
              (click) ="findHigherUserPermissions()"> Procurar </button> 
      </div>     
      
       
    <br/>
    <br/>
    <!-- result insertion-->
    <textarea id="result" rows="2" cols="60" maxlength="254" wrap="hard" formControlName="result" matInput placeholder="Resultado" ></textarea>
   
  </form>
</div>



<router-outlet></router-outlet>