<div class="form-container">
  <form ngNativeValidate [formGroup]="formField"> 
      <h2>Encontrar permissões mais altas do usuário</h2>
      
      <div class="form-group">
          <label for="database"> Insira o caminho completo do arquivo de banco de dados: </label> 
          <input type="text" formControlName="database"
                 class="form-control" name="database"
                 ng-model="database" required />        
      <button name="button-db" class="btn login"
              (click) ="readDatabase()"> Carregar </button>  
      </div>  
      <label> Selecione o usuário: </label> 
      <mat-form-field >
          <mat-select  [(value)]="selectUserEmail"  required>
            <mat-option *ngFor="let user of users" [value]="user.email">  
              {{user.email}} 
            </mat-option>
          </mat-select>
      </mat-form-field>   

      <button name="button-find" class="btn login"
              (click) ="findHigherUserPermissions()"> Procurar </button>  
    <br/>
    <br/>
    <!-- result insertion-->
    <textarea id="result" rows="2" cols="60" maxlength="254" wrap="hard" formControlName="result" matInput placeholder="Resultado" ></textarea>

  </form>
</div>



<router-outlet></router-outlet>